@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    height: 100vh;
    background: #8EA7E9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    font-family: 'Rubik', sans-serif;
}

.NavBar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.Footer {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.RightSidePanel {
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.LeftSidePanel {
    grid-column: 1 / span 2;
    grid-row: 2 / span 10;
}

.Content {
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
}

.el {
    border: 1px rgba(0, 0, 0, 0.07) solid;
}

.FlexNav,
.NavBrand {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FlexNav {
    height: 100%;
}

.NavBrand {
    gap: 3em;
}

.NavUl {
    list-style: none;
}

/* Styling the LeftSidePanel */
.FunctionContainer {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.ShowTodoList,
.ShowContactForm {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}

.ButtonDesc {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}